{block content}

<div class="container">
	<h1>Congratulations!</h1><h2>You have successfully installed addDynamic example.</h2>

    <hr>

    {control createEditNodeForm}

</div>
{/block}


{block head}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" type="text/css">
<style>
	body {
		max-width: none;
	}
</style>
{/block}
